@use "globals";
@use "fonts";
@use "colors";

.main-container {
  width: 344px;
  height: 612px;
  border-radius: 12px;
  margin: 68px auto;
  overflow: hidden;
  background-color: colors.$secondary-color;
}

.main-container__content {
  &__product-type {
    font-size: 1em;
    font-weight: 400;
    font-family: fonts.$text-font;
    color: colors.$secondary-color-text;
    letter-spacing: 3px;
    margin: 18px 24px 8px 24px;
    text-transform: uppercase;
  }

  &__product-title {
    font-family: fonts.$heading-font;
    margin: 0 24px 16px 24px;
    font-size: 2.2em;
    font-weight: 700;
    color: colors.$heading-color;
    display: flex;
    justify-content: center;
  }
}
